takeoff_alt: &TAKEOFF 16.2

# Lap Waypoints
# points:
#   - [47.39792614, 8.54609739, *TAKEOFF]
#   - [47.39792614, 8.54623009, *TAKEOFF]
#   - [47.39801597, 8.54623009, *TAKEOFF]
#   - [47.39801597, 8.54609739, *TAKEOFF]


points:
  - [38.3876112, -76.4190542, *TAKEOFF]
  # - [38.3862744, -76.4182914, *TAKEOFF]
  # - [38.3876112, -76.4190542, *TAKEOFF]

# stitch_points:
#   - [47.397750, 8.545600, *TAKEOFF]
#   - [47.397755, 8.545605, *TAKEOFF]
#   - [47.397760, 8.545610, *TAKEOFF]

stitch_points:
  - [38.3877010311175, -76.4190542, *TAKEOFF]
  - [38.3877010311175, -76.4189395943129, *TAKEOFF]
  - [38.3877010311175, -76.41882498862581, *TAKEOFF]
  - [38.3877010311175, -76.41871038293871, *TAKEOFF]
  - [38.3877010311175, -76.41859577725162, *TAKEOFF]
  - [38.3877010311175, -76.41848117156452, *TAKEOFF]
  - [38.3877010311175, -76.41836656587742, *TAKEOFF]

# Scan Waypoints
# scan_points:
#   - [47.397760, 8.545610, *TAKEOFF]
#   - [47.397755, 8.545605, *TAKEOFF]
#   - [47.397750, 8.545600, *TAKEOFF]


scan_points:
  - [38.3877010311175, -76.4190542, *TAKEOFF]
  - [38.3877010311175, -76.4189395943129, *TAKEOFF]
  - [38.3877010311175, -76.41882498862581, *TAKEOFF]
  - [38.3877010311175, -76.41871038293871, *TAKEOFF]
  - [38.3877010311175, -76.41859577725162, *TAKEOFF]
  - [38.3877010311175, -76.41848117156452, *TAKEOFF]
  - [38.3877010311175, -76.41836656587742, *TAKEOFF]

# Payload waypoints
# deliver_points:
#   - [47.397780, 8.545620, *TAKEOFF]
#   - [47.397785, 8.545625, *TAKEOFF]
#   - [47.397790, 8.545630, *TAKEOFF]
#   - [47.397795, 8.545635, *TAKEOFF]

deliver_points:
  - [38.3876112, -76.4190542, *TAKEOFF]


# Other params
Lap_velocity: 5.0
Lap_tolerance: 2.0
Scan_velocity: 2.5
Scan_tolerance: 1.0
Stitch_velocity: 5.0
Stitch_tolerance: 1.0
Deliver_tolerance: 1.0
